* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-content {
    width: 100%;
}

.top-content {
    width: 100%;
    padding: 0 120px;
    margin: 0 0 100px 0;
    display: grid;
    grid-template-columns: 2fr 3fr;
}

.about-us-header {
    display: flex;
    align-items: flex-end;
}

.about-us-header h1 {
    font-size: 100px;
}

.about-us-card img {
    width: 100%;
}

.slogan {
    display: grid;
    grid-template-columns: 2fr 3fr;
    padding: 0 120px;
    margin: 100px 0;
}

.slogan-para p {
    font-size: 24px;
    font-family: serif;
    margin-top: 24px;
    text-align: justify;
}

.esc-intro {
    padding: 0 120px;
    margin: 100px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 48px;
}

.intro-card img {
    width: 100%;
}

.intro-para {
    display: flex;
    flex-direction: column;
}

.intro-para h1 {
    margin-top: auto;
}

.intro-para p {
    font-size: 24px;
    font-family: serif;
    margin-top: 24px;
    text-align: justify;
}

.we-goal {
    padding: 0 120px;
    margin: 48px 0;
    
}

.goal-para {
    text-align: center;
}

.goal-para p {
    margin: 24px 0;
    font-size: 24px;
    padding: 0 48px;
}

.goal-card img {
    width: 100%;
    height: auto;
}