.whyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 120px;
    gap: 50px;
}

.whyContainer h1{
    margin-bottom: 16px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}