
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

.body-content {
  padding: 20px;
  color: white;
  text-align: center;
}

.contact-title {
  margin-bottom: 40px;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.contact-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 1000px; 
  margin: 0 auto;
}


.contact-box {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  padding: 50px;

  flex-basis: calc(50% - 20px);
  min-width: 300px; 
  display: flex; 
  align-items: flex-start; 
  text-align: left;
}


.icon-placeholder {
  font-size: 40px;
  margin-right: 20px;
  opacity: 0.7;
  width: 80px;
    height: 80px;
    flex-shrink: 0;
    margin-right: 20px;
}

.icon-placeholder img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.social-icons img {
  width: 15%;
  height: 15%;
  object-fit: contain;
}

.box-content h2 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.box-content p {
  font-size: 0.9rem;
  margin-bottom: 15px;
  opacity: 0.8;
}

.box-content a {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}


.social-icons span {
    font-size: 24px;
    margin-right: 10px;
    cursor: pointer;
}