.header-contact {
    padding: 0 120px;
    text-align: center;
}

.contact_container {
    padding: 0 120px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact_card {
    width: 48%;
    background-color: aliceblue;
    height: 240px;
    margin-top: 48px;
}