.organizer {
    padding: 0 120px;
    margin-bottom: 100px;
}

.header {
    margin-bottom: 48px;
    text-align: center;
}

.org-container {
    display: flex;
    justify-content: space-around;
}

.org-card {
    background-color: aliceblue;
    width: 40%;
    height: 80px;
}

.strategic-partner {
    margin: 100px 0;
    padding: 0 120px;
}

.str-card {
    width: 20%;
    height: 80px;
    background-color: aliceblue;
}

.strategic-container {
    display: flex;
    justify-content: space-between;
}

.sponsors-partner {
    margin: 100px 0;
    padding: 0 120px;
}

.spo-header{
    margin-bottom: 0;
    text-align: center;
}

.spo-card {
    background-color: aliceblue;
    width: 23%;
    height: 80px;
    margin-top: 48px;
}

.sponsors-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}