.season-container {
    background-color: #000;
    min-height: 100vh;
    padding: 80px 20px;
    text-align: center;
    color: white;
}

.title {
    font-size: 3rem;
    margin-bottom: 60px;
}

/* 3 CARD */
.card-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /* CAN LE DUOI*/
    gap: 25px;
}

/* CARD GENERAL STYLE */
.card {
    background: #fff;
    border-radius: 16px;
    overflow: hidden;
    color: #000;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* DETAIL SIZE */

/* 300x400 card 300x300 pics */
.side-card {
    width: 300px;
    height: 400px;
    margin-bottom: 50px;
}

.side-card .card-image {
    width: 300px;
    height: 300px;
}

/* 400x517 card 400x379 pics */
.main-card {
    width: 400px;
    height: 517px;
}

.main-card .card-image {
    width: 400px;
    height: 379px;
}

/* TEXT */
.card-content {
    padding: 15px 20px;
    text-align: left;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-content h3 {
    margin: 0;
    font-size: 1.3rem;
}

.description {
    color: #666;
    margin: 5px 0 10px 0;
    font-size: 0.95rem;
}

/* Footer (Status & Button) */
.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.status {
    padding: 6px 14px;
    border-radius: 100px;
    font-size: 0.85rem;
}

.completed {
    background-color: #d1fae5;
    color: #065f46;
    padding: 10px 30px;
}

.in-progress {
    background-color: #fee2e2;
    color: #991b1b;
    padding: 10px 30px;
}

.view-btn {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 30px;
    border-radius: 100px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: transform 0.2s;
}

.view-btn:hover {
    transform: scale(1.18);
    font-weight: 600;
}