.registerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px;
    background: linear-gradient(to right, #4675c0, #081f5c);
}

.content {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content h1 {
    margin-bottom: 16px;
}
.content p {
    margin-bottom: 32px;
}
.content a {
    background-color: white;
    color: black;
    width: fit-content;
    padding: 20px 40px;
    border-radius: 12px;
}