* {
  margin: 0;
  padding: 0;
}
body {
    width: 100%;
    justify-content: center;
    background-color: black;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-color: black;
}