* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    width: 100%;
    justify-content: center;
    background-color: black;
    font-family: sans-serif;
    color: #ffffff;
}

h1 {
    font-size: 48px;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-color: black;
}