* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    width: 100%;
    justify-content: center;
    background-color: black;
    font-family: sans-serif;
    padding: 0 120px;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-color: black;
}